.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 8s linear;
  height: 80px;
  color: #42f4bf;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div[class^="SupportDrawer-content-"] {
  padding: 1.5em;
  width: 50vw;
  color: darkgrey;
}

div[class^="SupportDrawer-content-"] h1 {
    color: black;
    font-size: 1.5em;
}